/** {
  border: 1px solid green;
}*/
@import url('https://fonts.googleapis.com/css?family=Quicksand|ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Acme|Anton|B612+Mono');

.buttonDiv  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.button {
  background-color: #626262;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-weight: bold;
  color:  pink;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 3em ;
  height: 1.5em;
  font-size: 4vw;
  margin: 10px 40px 12px 40px;
}

h1 {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  font-family: 'ZCOOL XiaoWei', serif;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  cursor: pointer;
}

h2 {
  display: none;
  font-size: 10vw;
  align-items:center;
  justify-content: center;
  color: pink;
  width:100%;
  text-align: center;
  left: 0;
  position: absolute;
  background-color: rgba(6, 6, 6, 0.7);
}

h3 {
  display: none;
  font-size: 10vw;
  align-items:center;
  justify-content: center;
  color: pink;
  width:100%;
  text-align: center;
  left: 0;
  position: absolute;
  background-color: rgba(6, 6, 6, 0.7);
}

.container {
  max-width: 960px; /* lazy reponsiveness */
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  background: -webkit-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -o-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -moz-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
 }

 body {

 	color: #fff;
 	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
 	background-size: 400% 400%;
 	-webkit-animation: Gradient 15s ease infinite;
 	-moz-animation: Gradient 15s ease infinite;
 	animation: Gradient 15s ease infinite;
 }

 @-webkit-keyframes Gradient {
 	0% {
 		background-position: 0% 50%
 	}
 	50% {
 		background-position: 100% 50%
 	}
 	100% {
 		background-position: 0% 50%
 	}
 }

 @-moz-keyframes Gradient {
 	0% {
 		background-position: 0% 50%
 	}
 	50% {
 		background-position: 100% 50%
 	}
 	100% {
 		background-position: 0% 50%
 	}
 }

 @keyframes Gradient {
 	0% {
 		background-position: 0% 50%
 	}
 	50% {
 		background-position: 100% 50%
 	}
 	100% {
 		background-position: 0% 50%
 	}
 }

main {
  display: inline-block;
  width: 80%;
}

#board1 {
  background-color: pink;
  width: 100%;
  line-height: 160px;
}

aside {
  margin-left: 100px;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
}

aside img {
  width: 95%;
}

.box-wrap {
  width:660px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

.box-wrap>div {
  margin: 1%;
  width: 31%;
  border-radius: 10%;
  transition: all .25s ease-in-out;
  font-family: sans-serif;
  font-size: 85px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  float: left;
  background-color: orange;
  line-height: 200px;
}

.buttonWrapper {
  /*position: absolute;*/
  width: 960px;
}

.reset {
  position: relative;
  left: 45.5%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition:width 2s, height 2s,
  background-color 2s, -webkit-transform 2s;
}

.reset:hover {
    background-color: #FFCCCC;
    width:100px;
    height:100px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
