/** {
  border: 1px solid green;
}*/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Quicksand|ZCOOL+XiaoWei');

h1 {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  font-family: 'ZCOOL XiaoWei', serif;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  cursor: pointer;
}
/*h2 {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(255,133,63,0.80);
    position: absolute;
    left:50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}*/

.container {
  max-width: 960px; /* lazy reponsiveness */
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

main {
  display: inline-block;
  width: 80%;
}

#board1 {
  background-color: pink;
  width: 100%;
  line-height: 160px;
}

aside {
  margin-left: 100px;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
}

aside img {
  width: 95%;
}

.box-wrap {
  width:660px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

.box-wrap>div {
  margin: 1%;
  width: 31%;
  border-radius: 10%;
  transition: all .25s ease-in-out;
  font-family: sans-serif;
  font-size: 85px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  float: left;
  background-color: orange;
  line-height: 200px;
}

.buttonWrapper {
  /*position: absolute;*/
  width: 960px;
}

.reset {
  position: relative;
  left: 38.5%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition:width 2s, height 2s,
        background-color 2s, -webkit-transform 2s;
}

.reset:hover {
    background-color: #FFCCCC;
    width:100px;
    height:100px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
