/** {
  border: 1px solid green;
}*/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|ZCOOL+KuaiLe');

h1 {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  font-family: 'ZCOOL KuaiLe', cursive;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
}

.container {
  max-width: 960px; /* lazy reponsiveness */
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

main {
  display: inline-block;
  width: 80%;
}

#board1 {
  background-color: pink;
  width: 100%;
  line-height: 160px;
}

aside {
  margin-left: 100px;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
}

aside img {
  width: 95%;
}

.box-wrap {
  width:660px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

.box-wrap>div {
  width: 31%;
  padding-bottom: 31%;
  margin: 1%;
  border-radius: 10%;
  float: left;
  background-color: orange;
}

.reset {
  text-align: center;

}
